<div class="breadcrumb">
    <ul class="task">
        <li class="home"><a href="http://localhost/webbangiay/">Trang chủ</a></li>
        <li class="slash"><p href="">Chi tiết giỏ hàng</p></li>
    </ul>
</div>
<div class="tt">
    <a>Giỏ hàng</a>
</div>
<div class="qcs">
    <div class="bor">
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên sản phẩm</th>
                        <th>Hình ảnh</th>
                        <th>Số lượng</th>
                        <th>Thành tiền</th>
                        <th>Xóa</th>
                    </tr>
                </thead>
                <tbody>
                {% for items in shoe_Cart %}
                    <tr id="item_{{ items.id|e }}" class="items">
                        <td style="width: 65px">{{ loop.index }}</td>
                        <td style="width: 330px;">{{ items.getName() }}</td>
                        <td style="width: 135px;">
                            <img src="img/shoe/{{ items.getImgShow() }}" class="img-thumnail" alt style="width: 75px;height: 65px;">
                        </td>
                        <td style="display: flex;width: 160px;">
                            <a class="cart-sumsub minus_one_cart" href="javascript:void(0)" items-id="{{ items.id|e }}" items-price="{{ items.getPrice() }}" style="font-size: 18px;">-</a>
                                <input class="item_num_{{ items.id|e }}" type="text" value="{{ items.getNumber() }}" style="width: 40px; text-align: center;height: 35px;">
                            <a class="cart-sumsub add_one_cart" href="javascript:void(0)" items-id="{{ items.id|e }}" items-price="{{ items.getPrice() }}" style="font-size: 18px;">+</a>
                        </td>
                        <td style="width: 190px">{{ items.getPrice() }} VNĐ</td>
                        <td style="width: 140px">
                            <a href="javascript:void(0)" class="delete_item" items-id="{{ items.id|e }}" items-price="{{ items.getPrice() }}">
                                <span class="trash" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                    <tr >
                        <td colspan="6" class="empty_alert" style="border-top:none">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">Tổng tiền</td>
                        <td class="total_price" style="font-weight: bold;color: green;">{{ total_price }} VNĐ</td>
                        <td>
                            <a style="font-weight: bold;color: red;font-size: 17px;" href="javascript:void(0)" class="delete_all">Xóa toàn bộ</a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <a href="javascript:void(0)" class="btn btn-success buy_all">Đặt mua</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <img src="../img/qc.png">
</div>
<script>
    if({{ total_price }}==0){
        $(".empty_alert").text("Giỏ Hàng Trống");
    }
    let total_price={{ total_price }}
    $("body").on('click', '.add_one_cart', function () {
            let id = $(this).attr("items-id");
            let val= $(".item_num_"+id).val();

            let price = $(this).attr("items-price");
            total_price = parseInt(total_price) + parseInt(price);
            $(".total_price").text(total_price+" VNĐ");

            $(".item_num_"+id).val(parseInt(val) + 1);
            $.post("/shoe-shop/add-to-cart", { items_id: id }, function (res) {
                $(".view_cart").text("Giỏ hàng("+res.data+")");
            }, 'json');
        });
    $("body").on('click', '.minus_one_cart', function () {
        let id = $(this).attr("items-id");
        let val= $(".item_num_"+id).val();

        let price = $(this).attr("items-price");
        total_price = parseInt(total_price) - parseInt(price);
        if(val>1){
            $(".total_price").text(total_price+" VNĐ");
            $(".item_num_"+id).val(parseInt(val) - 1);
            $.post("/shoe-shop/remove-one", { items_id: id }, function (res) {
                $(".view_cart").text("Giỏ hàng("+res.data+")");
            }, 'json');
        }
    });
    $("body").on('click', '.delete_item', function () {
        let id = $(this).attr("items-id");
        let val= $(".item_num_"+id).val();
        let price = $(this).attr("items-price");
        total_price = parseInt(total_price) - parseInt(price) * parseInt(val);

        $(".total_price").text(total_price+" VNĐ");
        $("#item_"+id).text("");
        $.post("/shoe-shop/remove-type", { items_id: id }, function (res) {
            $(".view_cart").text("Giỏ hàng("+res.data+")");
            $.post("/shoe-shop/view-cart", { }, function (res) {
                alert("xóa loại hàng thành công.");
                $(".main_content").html(res);
                if(total_price==0){
                    $(".empty_alert").text("Giỏ Hàng Trống");
                }
            },'html');
        }, 'json');
    });
    $("body").on('click', '.delete_all', function () {
        $(".total_price").text("0 VNĐ");
        $(".items").text("");
        $(".empty_alert").text("Giỏ Hàng Trống");
        $.post("/shoe-shop/remove-all", { }, function (res) {
            $(".view_cart").text("Giỏ hàng("+res.data+")");
            alert("xóa giỏ hàng thành công.");
        }, 'json');
    });
    $("body").on('click', '.buy_all', function () {
        $.post("/shoe-shop/process", { total_price: total_price}, function (res) {
            $(".main_content").html(res);
        }, 'html');
    });
</script>