
    <!-- Slideshow container -->
    <div class="slideshow-container">

        <div class="mySlides fade">
            <div class="numbertext">1 / 3</div>
            <img src="img/slide/slide1.jpg" style="width:100%">
        </div>

        <div class="mySlides fade">
            <div class="numbertext">2 / 3</div>
            <img src="img/slide/slide2.jpg" style="width:100%">
        </div>

        <div class="mySlides fade">
            <div class="numbertext">3 / 3</div>
            <img src="img/slide/slide3.jpg" style="width:100%">
        </div>
    </div>
    <br>
    {#main content#}
    <div class="panel">
        <div id="Adidas" class="panel-heading">
            <h1>ADIDAS</h1>
        </div>
        <div class="qcc">
            <div class="borderr">
                <div class="panel-body">
                    <div class="sanpham">
                        {% for items in list_adidas %}
                            <div class="sanpham-1 re-padding">
                                <div class="sanpham-item">
                                    <div class="sanpham-name" >
                                        <a href="javascript:void(0)" class="item_detail"  items-id="{{ items.id|e }}" style="color: #337ab7; font-size: 14px">{{ items.name|e }}</a>
                                    </div>
                                    <div class="sanpham-image">
                                        <img src="img/shoe/{{ items.getImgShow() }}">
                                    </div>
                                    <div>
                                        <p class="gia">Giá: <strong style="color: red;">{{ items.price|e}} VNĐ</strong></p>
                                    </div>
                                    <a href="javascript:void(0)" class="add_to_cart" items-id="{{ items.id|e }}">
                                        <button class="btn btn-info"><span>Thêm vào giỏ hàng</span></button>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <div id="Nike" class="panel-heading">
            <h1>Nike</h1>
        </div>
        <div class="qcc">
            <div class="borderr">
                <div class="panel-body">
                    <div class="sanpham">
                        {% for items in list_nike %}
                            <div class="sanpham-1 re-padding">
                                <div class="sanpham-item">
                                    <div class="sanpham-name" >
                                        <a class="item_detail" href="javascript:void(0)" items-id="{{ items.id|e }}" style="color: #337ab7; font-size: 14px">{{ items.name|e }}</a>
                                    </div>
                                    <div class="sanpham-image">
                                        <img src="img/shoe/{{ items.getImgShow() }}">
                                    </div>
                                    <div>
                                        <p class="gia">Giá: <strong style="color: red;">{{ items.price|e}} VNĐ</strong></p>
                                    </div>
                                    <a href="javascript:void(0)" class="add_to_cart" items-id="{{ items.id|e }}">
                                        <button class="btn btn-info"><span>Thêm vào giỏ hàng</span></button>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <div id="Vans" class="panel-heading">
            <h1>Vans</h1>
        </div>
        <div class="qcc">
            <div class="borderr">
                <div class="panel-body">
                    <div class="sanpham">
                        {% for items in list_vans %}
                            <div class="sanpham-1 re-padding">
                                <div class="sanpham-item">
                                    <div class="sanpham-name" >
                                        <a class="item_detail" href="javascript:void(0)" items-id="{{ items.id|e }}" style="color: #337ab7; font-size: 14px">{{ items.name|e }}</a>
                                    </div>
                                    <div class="sanpham-image">
                                        <img src="img/shoe/{{ items.getImgShow() }}">
                                    </div>
                                    <div>
                                        <p class="gia">Giá: <strong style="color: red;">{{ items.price|e}} VNĐ</strong></p>
                                    </div>
                                    <a href="javascript:void(0)" class="add_to_cart" items-id="{{ items.id|e }}">
                                        <button class="btn btn-info"><span>Thêm vào giỏ hàng</span></button>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </div>
